<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div>
  <p>Hello, {{user.username}}</p>

  <p>
    Your account has been updated.
  </p>

  <h3>User details</h3>
  <p>Full name: {{user.fullName}}</p>
  <p>Email: {{user.email}}</p>
  <p>Username: {{user.username}}</p>

  <p>
    Thank you!<br />
    <strong>{{appConfig.name}}</strong>
  </p>
</div>
